* {
    box-sizing: border-box;
    font-family:  Helvetica, Verdana, "Trebuchet MS";
}

/* ":root matches the root element of a tree representing a document" 
    In html, :root represents the html element
    Useful for declaring variables
*/
:root {
    /* COLORS */
    --dark-bg-color: #1F2937;
    --header-link-text-color: #E5E7EB;
    --hero-header-text-color: #F9FAF8;
    --hero-text-color: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --signup-bg: #3882F6;
    --info-header-text: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text-color: #1F2937;

    --left-right-padding: 350px; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg-color);
    width: 100%;
}

.nav-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header-logo {
    color: var(--header-logo-text);
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline;
    color: var(--header-link-text-color);
    font-size: 16px;
    font-weight: normal;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg-color);
    width: 100%;
    padding-block: 64px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.hero-text-content {
    width: 500px;
    flex: initial;
}

.hero-header {
    color: var(--hero-header-text-color);
    font-size: 48px;
    font-weight: 800;
}

.hero-text {
    color: var(--hero-text-color);
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-button {
    background-color: var(--button-color);
    border-radius: 5px;
    font-size: 18px;
    color: var(--hero-header-text-color);
    padding: 8px 30px;
    border: none;
}

.hero-img {
    max-width: 600px;
    height: auto;
    flex: initial;
    border: 10px solid var(--header-logo-text);
    border-radius: 5px;
}

/* INFO */
.info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    margin-top: 36px;
    margin-bottom: 100px;
}

.info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: var(--info-header-text);
    margin-bottom: 36px;
}

.info-card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width: 1100px;
    flex: auto;
    /* flex-wrap: wrap; */
}

.info-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    /* border: 1px solid red; */
    text-align: center;;
}

.info-img {
    max-height: 170px;
    width: auto;
    border: 4px solid var(--button-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.info-text {
    color: #1F2937;
    width: 150px;
}

/* QUOTE */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--quote-bg);
    width: 100%;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-block: 100px;
}

.quote-text {
    font-size: 36px;
    color: var(--quote-text-color);
    font-style: italic;
}

.quote-end {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

/* SIGNUP */

.signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 64px;
}

.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--signup-bg);
    width: 1000px;
    color: white;
    border-radius: 5px;
    padding-block: 36px;
}

.signup-header {
    font-weight: bold;
    font-size: 18px;
}

.signup-text {
    font-size: 15px;
}

.signup-button {
    background: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    border: 1px solid white;
}

/* FOOTER */

footer {
    background-color: var(--dark-bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-block: 36px;
}
