* {
    box-sizing: border-box;
    font-family:  Helvetica, Verdana, "Trebuchet MS";
}

/* ":root matches the root element of a tree representing a document" 
    In html, :root represents the html element
    Useful for declaring variables
*/
:root {
    /* COLORS */
    --dark-bg-color: #1F2937;
    --header-link-text-color: #E5E7EB;
    --hero-header-text-color: #F9FAF8;
    --hero-text-color: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --signup-bg: #3882F6;
    --info-header-text: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text-color: #1F2937;

    --left-right-padding: 350px; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg-color);
    width: 100%;
}

.nav-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header-logo {
    color: var(--header-logo-text);
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline;
    color: var(--header-link-text-color);
    font-size: 16px;
    font-weight: normal;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg-color);
    width: 100%;
    padding-block: 64px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.hero-text-content {
    width: 500px;
    flex: initial;
}

.hero-header {
    color: var(--hero-header-text-color);
    font-size: 48px;
    font-weight: 800;
}

.hero-text {
    color: var(--hero-text-color);
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-button {
    background-color: var(--button-color);
    border-radius: 5px;
    font-size: 18px;
    color: var(--hero-header-text-color);
    padding: 8px 30px;
    border: none;
}

.hero-img {
    max-width: 600px;
    height: auto;
    flex: initial;
    border: 10px solid var(--header-logo-text);
    border-radius: 5px;
}

